.btn {
    border-radius: 0;
    padding: 6px 55px;
    margin: 30px auto;
    font-size: .875em;
    text-transform: uppercase;
    &.color-0 {
        background-color: $color2;
        color: $color1;
        @include transition();
        &:hover, &:focus {
            background-color: $color1;
            color: $color2;
        }
    }
    &.color-1 {
        background-color: transparent;
        color: $color1;
        border: 2px solid $color1;
        @include transition();
        &:hover, &:focus {
            background-color: $color1;
            color: $color0;
        }
    }
    &.color-2 {
        background-color: $color1;
        color: $color0;
        @include transition();
        &:hover, &:focus {
            background-color: $color0;
            color: $color1;
        }
    }
    &.color-3 {
        background-color: $color7;
        color: $color1;
        @include transition();
        &:hover, &:focus {
            background-color: $color1;
            color: $color7;
        }
    }
}
