.attribution {
    padding-bottom: 60px;
}

.thumbnail {
    text-align: center;
    .title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 15px 0;
    }
    img {
        max-width: 100%;
        height: 480px;
    }
    .btn {
        @include transition();
    }
}
