
* {
    box-shadow: none!important;
    text-shadow: none!important;

    &:focus, &:hover {
        box-shadow: none!important;
        outline: 0!important;
        text-decoration: none!important;
        text-shadow: none!important;
    }
}

html, body {
    font-size: 100%;
    line-height: 1.4;
    color: $color1;
    background: $color0;
    overflow-x: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0 auto;
    padding: 0;
}
