
// CORES
$color0: #000000;
$color1: #FAFAFA;
$color2: #d4023a;
$color3: #28A747;
$color4: #999999;
$color5: #3B5998;
$color6: #585858;
$color7: #942220;


// FONTES
@import "../partials/fonts";


// MIXIN
@mixin transition() {
    transition: all 0.5s ease;
}
@mixin transition-duration() {
    transition-duration: 700ms;
}
