<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="brand"><img src="https://news.marvel.com/wp-content/uploads/2017/07/Marvel_960x540-500x281-1.jpg" alt="Marvel" class="img-responsive center-block"></h1>
            <h2 class="attribution text-center text-uppercase">{{attribution}}</h2>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="item in results" class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" alt="{{item.title}}">
                <div class="caption">
                    <h3 class="title">{{item.title}}</h3>
                    <p><a href="#" class="btn btn-danger" role="button">Details</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
